*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	font-family: "Source Code Pro", monospace;
	height: 100vh;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	background-color: #464159;
	color: #fff;
	overflow: hidden;
}

.menu-tab-active {
	background-color: rgba(31, 83, 179, 0.07);
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.header {
	position: relative;
	width: 100%;
	height: 35vh;
	padding: 10em 0;
	background-image: url(./img/beach_logo_640.jpg);
	background-size: cover;
	background-position: center;
}

.logo {
	position: absolute;
	font-size: 4rem;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* hamburger */
/* .checkbox {
	display: none;
} */

.burger-btn {
	/* position: relative; */
	background-color: rgba(255, 255, 255, 0.411);
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	position: fixed;
	top: 2vh;
	right: 4vw;
	z-index: 2000;
	box-shadow: 0 1rem 3rem black;
	text-align: center;
	cursor: pointer;
}

.background {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	position: fixed;
	top: 2.5vh;
	right: 4.5vw;
	background-image: radial-gradient(rgb(104, 100, 100), rgb(69, 66, 66), white);
	z-index: 1000;

	transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

/* nav */

.wrapper-menu {
	padding: 2em;
	border-radius: 8px;
	background-color: rgb(112, 122, 124);
}

.nav-menu {
	display: flex;
	margin-bottom: 2em;
	flex-direction: row;
	justify-content: space-around;
}
.menu-tab {
	padding: 0.5em 1em;
	text-align: center;
	font-size: 30px;
	color: #333;
	background-color: #fff;
	border-radius: 8px;
	border: 1px solid #333;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	text-decoration: none;
	font-weight: bold;
	transition: background-color 0.3s;
}

.menu-tab:hover {
	background-color: rgba(70, 65, 89, 0.124);
}

.nav-mobile {
	height: 100vh;
	position: fixed;
	top: 0;
	right: -60vw;
	z-index: 1500;
	opacity: 0;
	width: 0;
	transition: all 0.8s;
}

.nav-items {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
}

.item {
	margin: 1rem;
	font-size: 36px;
}

.nav-item:link,
.nav-item:visited {
	display: inline-block;
	font-size: 3rem;
	font-weight: 300;
	padding: 1rem 2rem;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	background-image: linear-gradient(
		120deg,
		transparent 0%,
		transparent 50%,
		white 50%
	);
	background-size: 220%;
	transition: all 0.4s;
}

.nav-item:hover,
.nav-item:active {
	color: lightgreen;
	cursor: pointer;
}

/* styling hamb ICON */
.icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
	width: 3rem;
	height: 2px;
	background-color: gray;
	display: inline-block;
}

.icon::before,
.icon::after {
	content: "";
	position: absolute;
	left: 0;
	transition: all 0.2s;
}

.icon::before {
	top: -0.8rem;
}
.icon::after {
	top: 0.8rem;
}

.burger-btn:hover icon:before {
	top: -1rem;
}
.burger-btn:hover icon::after {
	top: 1rem;
}

.checkbox:checked + .burger-btn .icon {
	background-color: transparent;
}

.checkbox:checked + .burger-btn .icon::before {
	top: 0;
	transform: rotate(135deg);
}
.checkbox:checked + .burger-btn .icon::after {
	top: 0;
	transform: rotate(-135deg);
}

/* functionality */
.checkbox:checked ~ .background {
	transform: scale(200);
}
.checkbox:checked ~ .nav-mobile {
	opacity: 1;
	width: 100%;
	right: 0;
}

/* media queries */

@media (max-width: 768px) {
	.nav-menu {
		display: none;
	}
}

@media (min-width: 768px) {
	.menu-tab {
		font-size: 18px;
	}
	.burger-btn {
		display: none;
	}
}

@media (min-width: 992px) {
	.break {
		display: none;
	}
	.header {
		height: 75vh;
		background-image: url(./img/beach_logo_1920.jpg);
	}

	.nav-item:link {
		font-size: 4.5rem;
		padding: 2rem 3rem;
	}
	.logo p,
	i {
		font-size: 10rem;
		display: inline-flex;
	}
	.burger-btn {
		height: 7rem;
		width: 7rem;
		position: fixed;
		top: 3vh;
		right: 5vw;
	}

	.background {
		height: 6rem;
		width: 6rem;
		top: 3.5vh;
		right: 5.5vw;
	}

	.background {
		display: none;
	}
}
