*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	font-family: "Source Code Pro", monospace;
	background: linear-gradient(45deg, #170e13, #7a7adb);
	min-width: 100vw;
	min-height: 100vh;
	color: #fff;
	overflow-x: hidden;
}

.header {
	position: relative;
	width: 100%;
	height: 50vh;
	background-image: url(./img/beach_logo_640.jpg);
	background-size: cover;
}
.logo {
	position: absolute;
	font-size: 7rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* hamburger */
.checkbox {
	display: none;
}
.button {
	position: fixed;
	background-color: white;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	top: 2vh;
	right: 4vw;
	z-index: 2000;
	box-shadow: 0 1rem 3rem black;
	text-align: center;
	cursor: pointer;
}
.background {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	position: fixed;
	top: 2.5vh;
	right: 4.5vw;
	background-image: radial-gradient(rgb(104, 100, 100), rgb(69, 66, 66), #fff);
	z-index: 1000;

	transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

/* nav */

.nav-menu {
	display: flex;
	margin-bottom: 2em;
	flex-direction: row;
	justify-content: space-around;
}

.menu-tab {
	padding: 0.5em 1em;
	text-align: center;
	font-size: 30px;
	color: #333;
	background-color: #fff;
	border-radius: 8px;
	border: 1px solid #333;
	cursor: pointer;
	font-family: "Source", cursive;
	text-decoration: none;
	font-weight: bold;
	transition: background-color 0.3s;
}

.menu-tab:hover {
	background-color: rgba(70, 65, 89, 0.124);
}

.wrapper-menu {
	padding: 2em;
	border-radius: 8px;
	/* background-color: rgb(112, 122, 124); */
}

.nav-mobile {
	position: fixed;
	height: 100vh;
	top: 0;
	right: -60vw;
	z-index: 1500;
	opacity: 0;
	width: 0;
	transition: all 0.8s;
}
.nav-items {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
}
.item {
	margin: 1rem;
	font-size: 36px;
}
.nav-item:link,
.nav-item:visited {
	display: inline-block;
	font-size: 3rem;
	font-weight: 300;
	padding: 1rem 2rem;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	background-image: linear-gradient(
		120deg,
		transparent 0%,
		transparent 50%,
		#fff 50%
	);
	background-size: 220%;
	transition: all 0.4s;
}
.nav-item:hover,
.nav-item:active {
	color: lightgreen;
	cursor: pointer;
}

/* styling hamb ICON */
.icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
	width: 3rem;
	height: 2px;
	background-color: gray;
	display: inline-block;
}

.icon::before,
.icon::after {
	content: "";
	position: absolute;
	left: 0;
	transition: all 0.2s;
}

.icon::before {
	top: -0.8rem;
}
.icon::after {
	top: 0.8rem;
}

.button:hover icon:before {
	top: -1rem;
}
.button:hover icon::after {
	top: 1rem;
}

.checkbox:checked + .button .icon {
	background-color: transparent;
}

.checkbox:checked + .button .icon::before {
	top: 0;
	transform: rotate(135deg);
}
.checkbox:checked + .button .icon::after {
	top: 0;
	transform: rotate(-135deg);
}

/* functionality */
.checkbox:checked ~ .background {
	transform: scale(80);
}
.checkbox:checked ~ .nav-mobile {
	opacity: 1;
	width: 100%;
	right: 0;
}

/* about me */

.about-me {
	margin: 1em 0;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	overflow: hidden;
}

.foto-section {
	position: relative;
	height: 30vh;
}

.about-me-img {
	margin: 2em auto;
	width: 30rem;
	max-width: 100%;
	border: #464159;
	border-radius: 50%;
	display: block;
	z-index: 100;
}

/* .circle-icon {
	top: 5%;
	left: 109%;
	transform: translate(-50%, -50%);
	scale: 3.5;
	rotate: -90deg;
	z-index: 50;
}
.wave-icon {
	position: absolute;
	top: 70%;
	left: 25%;
	transform: translate(-50%, -50%);
	scale: 3.5;
	z-index: 150;
} */

.about-me-info {
	display: flex;
	flex-direction: column;
	color: #464159;
	padding: 4em 2em;
	align-items: center;
	text-align: center;
	font-family: "Source", cursive;

	h3 {
		margin-bottom: 0.5em;
		text-transform: uppercase;
		font-size: 2.4rem;
		font-weight: bold;
	}

	p {
		margin-bottom: 0.5em;
		font-size: 1.3em;
	}
	button {
		margin-top: 1em;
		padding: 0.8em;
		align-items: center;
		background-color: #fff;
		border: 2px solid rgb(70, 183, 206);
		border-radius: 25px;
		text-transform: uppercase;
		letter-spacing: 2px;
		cursor: pointer;
	}
}

/* courses */
.courses {
	h2 {
		padding: 1em 2em;
		align-items: center;
		text-align: center;
		font-family: "Source", cursive;
		font-size: 2.4rem;
		text-transform: uppercase;
	}
}

.courses__card {
	position: relative;
	margin: 1em 0;
	height: 450px;
	color: #fff;
	text-align: center;
	perspective: 1000px;

	/* &-img {
		padding: 2em;
		height: 100%;
		border-radius: 8px;
		background-size: cover;
		transition: transform 1s, opacty 1s;
	} */
}
.courses__card:hover {
	.courses__card-img {
		transform: rotateY(-180deg);
		opacity: 0;
	}
}
.courses__card:hover {
	.courses__card-info {
		transform: rotateY(0);
		opacity: 1;
	}
}
.courses__card-img {
	padding: 2em;
	height: 100%;
	border-radius: 8px;
	background-size: cover;
	transition: transform 1s, opacty 1s;
}
.courses__card-img {
	border: 1px solid #fff;
}
.courses__card-img--first {
	background-color: #595358;
}

.courses__card-img--second {
	background-color: #625e55;
}
.courses__card-img--third {
	background-color: #5f6751;
}
.courses__card-img--fourth {
	background-color: #485c1f;
}

.courses__card-img-title {
	font-family: "Source", cursive;
	font-size: 2.8rem;
}
.courses__card-img-info {
	position: absolute;
	bottom: 30px;
	right: 30px;
	font-size: 1.8rem;
	margin-right: 0.3em;
	font-weight: 100;
}

.courses__card-info {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #464159;
	border: 1px solid #fff;
	border-radius: 8px;
	opacity: 0;
	transform: rotateY(180deg);
	transition: transform 1s, opacity 1s;
}
.courses__card-img-title {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 1.8em;
	font-family: "Source", cursive;
	font-size: 2.3rem;
}

.courses__card-info-list {
	margin: 0 auto;
	width: 70%;
	list-style: none;
}
.courses__card-info-list-item {
	padding: 1em;
	font-size: 1.4rem;
	border-bottom: 1px solid #eee;
}
.courses__card-info-list-item:last-child {
	border-bottom: none;
}

/* hobbies */
.hobbies h1 {
	padding: 1em 2em;
	align-items: center;
	text-align: center;
	font-family: "Source", cursive;
	font-size: 2.4rem;
	text-transform: uppercase;
}
.gallery {
	position: relative;
}

.gallery-items {
	position: absolute;
	display: flex;
	width: 100vw;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
	justify-content: center;
	background-color: #1c1121e4;
	padding: 2em;
}
.thumbnail {
	margin: 2rem;
	border: solid 1px #807f7fd7;
	border-radius: 5px;
	box-shadow: 0 0 48px 5px rgba(0, 0, 0, 0.894);
	max-height: 15rem;
	max-width: 20rem;
	overflow: hidden;
	transform: scale(1);
	transition: transform 0.3s;
	cursor: pointer;
}

.thumbnail:hover {
	transform: scale(1.2);
}

.thumbnail img {
	height: 100%;
	width: 100%;
	object-fit: inherit; /* sprawia że zdjęcia nie są nienaturalnie rozciągnięte */
}

.popup {
	position: absolute;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	backdrop-filter: blur(3px);
	background: rgba(0, 0, 0, 0.5);
	height: 100vh;
	width: 100vw;
	left: 0;
	top: 0;
	
}

.popup__img {
	max-height: 80%;
	max-width: 80%;
}


/* media queries */

@media (min-width: 576px) {
	.about-me {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		text-align: left;
	}
	.foto-section {
		width: 60em;
	}

	.about-me-img {
		margin: 2em 2em; /* Przywrócenie marginesów dla obrazu */
	}

	.about-me-info {
		max-width: none;
		margin-top: 0;
		margin-left: 2em; /* Reset marginesu */
		align-items: flex-start; /* Przywrócenie do domyślnego ustawienia */
		text-align: left;
	}
}

@media (max-width: 810px) {
	.wrapper-menu {
		display: none;
	}
}
@media (min-width: 811px) {
	.header {
		height: 60vh;
	}
	.button,
	.background {
		display: none;
	}
	.menu-tab {
		font-size: 17px;
	}
	/* .foto-section {
		height: 60vh;
	} */

	.courses__cards {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.courses__card {
		margin: 1em;
		width: 45%;
	}
}

@media (min-width: 992px) {
	.menu-tab {
		font-size: 20px;
	}

	.header {
		height: 75vh;
		background-image: url(./img/beach_logo_1920.jpg);
	}

	.logo p,
	i {
		font-size: 9rem;
		display: inline;
	}

	.background {
		height: 6rem;
		width: 6rem;
		top: 3.5vh;
		right: 5.5vw;
	}
	.about-me {
		height: 40em;
	}

	/* .background {
		display: none;
	} */
}

@media (min-width: 1000px) {
	.courses__card {
		width: 40%;
	}
}
@media (min-width: 1200px) {
	.menu-tab {
		font-size: 25px;
	}

	.courses__card {
		width: 30%;
	}
}
